services:
  agent-with-local-avatar:
    build:
      context: .
      dockerfile: Dockerfile
    # Environment variables
    env_file:
      - .env.local
    environment:
      - AGENT_NAME=agent_with_local_avatar
    volumes:
      - ./assets:/app/assets:ro
      - ./bin:/app/.venv/lib/python3.12/site-packages/avaluma_livekit_plugin/local/bin
      - ./src/agent_with_local_avatar.py:/app/src/agent.py
    # GPU access
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, utility, graphics]
  local-avatar-for-external-agent:
    build:
      context: .
      dockerfile: Dockerfile
    # Environment variables
    env_file:
      - .env.local
    environment:
      - AGENT_NAME=local_avatar_for_external_agent
    volumes:
      - ./assets:/app/assets:ro
      - ./bin:/app/.venv/lib/python3.12/site-packages/avaluma_livekit_plugin/local/bin
      - ./src/local_avatar_for_external_agent.py:/app/src/agent.py
    # GPU access
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, utility, graphics]
