services:
  livekit-agent-with-avatar:
    image: europe-west3-docker.pkg.dev/stable-plasma-427409-e7/avaluma-public/avaluma-livekit-runtime-x68-cu12:latest
    # Environment variables
    env_file:
      - .env.local
    environment:
      - AGENT_NAME=livekit-agent-with-avatar
      - AVATAR_ID=2025-09-06-Kadda_very_long_DS_v2_release_v5_gcs # without .hvia ending
    volumes:
      - ./assets:/app/assets:ro
      - ./src/agents/livekit_agent_with_avatar.py:/app/src/agent.py
    # GPU access
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, utility, graphics]
  external-agent-with-avatar:
    image: europe-west3-docker.pkg.dev/stable-plasma-427409-e7/avaluma-public/avaluma-livekit-runtime-x68-cu12:latest
    # Environment variables
    env_file:
      - .env.local
    environment:
      - AGENT_NAME=external-agent-with-avatar
      - AVATAR_ID=2025-09-06-Kadda_very_long_DS_v2_release_v5_gcs # without .hvia ending
    volumes:
      - ./assets:/app/assets:ro
      - ./src/agents/external_agent_with_avatar.py:/app/src/agent.py
    # GPU access
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, utility, graphics]

  test-rtc-input:
    build:
      context: .
      target: python-test-environment
    env_file:
      - .env.local
    volumes:
      - ./src/tests/test-rtc-input.py:/app/test-rtc-input.py
      - ./assets/hello_world.mp3:/test_data/hello_world.mp3
    entrypoint: ["python", "/app/test-rtc-input.py"]
